body{
  margin:0;
  padding: 0;
}
  
/* 
-------------------------------------------------------------------------------------------------------------------
Preheader
-----------------------------------------------------------------------------------------------------------------
*/


.preheader ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.preheader li{
  display: inline;
  text-align: center;
  white-space: nowrap;
  padding: 0 10px;
}

.preheader img{
  margin-top: 10px;
  width: 1%;
}

.preheader-telephone{
  list-style-image: url("../images/telephone_logo.jpg");
}

.preheader-mail{
  list-style-image: url("../images/mail_logo.jpg");
}

.preheader-localisation{
  list-style-image: url("../images/localisation_logo.jpg");
}


/* 
-------------------------------------------------------------------------------------------------------------------
Nav bar
-----------------------------------------------------------------------------------------------------------------
*/


.header {
  display: flex;
  background: rgb(85,0,227);
  background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
  height: 110px;
  margin-top: 1%;
  padding: 10px;
  transition: all .5s ease 0s;
}

.header img {
  margin-top: 15px;
  margin-left: 3%;
  width: 120px;
  transition: all 0.3s ease 0s;
}

.header nav {
  transition: all 0.3s ease 0s;
  justify-content: right;

}

.header li {
  display: inline;
  padding: 1%;
}


.header nav li a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.4s ease 0s;
  height: 110px;
  line-height: 100px;
  border: transparent;
  letter-spacing: 1px;
} 